* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 0.925rem;
  line-height: 1.1rem;
}

body {
  background-image: linear-gradient(180deg, white 8%, #f6f6f6 13%);
  background: cover;
  margin: auto;
  padding: 0 2rem 2rem 1rem;
  position: relative;
}

a:hover{
  text-decoration: underline;
}

.wikilogo {
  /*display: fixed;*/
  /*display: inline-block;*/

  margin-bottom: 1.1rem;
  
}

.sideline {

  width: 161.5px;
  height: 100vh;
  margin-top: 0.35rem;
  margin-left: 0.4rem;
  border-right: 1px solid lightblue;
  
}

.sideline img {
  margin-bottom: 0.9rem;
}

.sidelinks {
  list-style: none;
  font-family: serif;
  margin-left: -2.25rem;
  margin-top: 0.5rem;
}

h6::after {
  content: "";
  display: block;
  height: 0.01rem;
  margin-bottom: 1.1rem;
  margin-top: -0.2rem;
  width: 100px;
  background-color: darkgray;
}

.sidelinks a {
  display: block;
  text-decoration: none;
  font-size: 0.8rem;
  line-height: 0.85rem;
  margin-bottom: 0.45rem;
  letter-spacing: -0.01;
}

h6 {
  margin-bottom: -0.45rem;
  margin-top: 1.25rem;
  margin-left: 0.5rem;
  font-family: sans-serif;
  font-size: 0.8rem;
  color: darkslategrey
}

.fa-cog {
  
  margin-left: 60px;
  font-size: 1rem;
  
}

.fa-pencil {
  
  position: relative;
  left: 60px;
  color: darkslategray;
  letter-spacing: -0.01rem;
  top: -0.7rem;
  
}

.coverimage {
  float: right;
  position: relative;
  border: 1px solid black;
  text-align: center;
  padding: 0 1.5rem;
  margin: 1rem;
  background-color: #f6f6f6;
}
.coverimage::after {
  content: "";
  clear: both;
  display: table;
  position: relative;
}

.header {
  
  position: absoute;
  top: 0;
  width: 100%;
  padding: 0.4rem 0 0 0;
  border-bottom: 1px solid lightblue;

}

.main {
  position: absolute;
  left: 184px;
  top: 0;
}

.footer{
  
  border: 1px solid;
}

.maincontent {
  background-color: white;
  position: relative;
  padding: 1rem;
}

.header a{
  text-decoration: none;
}

.headerfirstline {
  text-align: right;
  padding: 0.3rem;  
  margin-right: 0.5rem;
}

.headerfirstline a {
  font-family: sans-serif;
  font-size: 0.85rem;
  margin: 0 1.5px;
  letter-spacing: -0.01rem;
  line-height: 5px;
}

.headersecondline {
  text-align: right;
  padding: 0.3rem 0.5rem 0 0.5rem;  
  margin-right: 0.5rem;
  margin-left: -9px;
}

.headersecondline a {
  font-family: sans-serif;
  font-size: 0.85rem;
  margin: auto -2px;
  letter-spacing: -0.01rem;
  padding: 15px 10px;
  line-height: 5px;
  text-align: center;
  border-right: 0.5px solid skyblue;
  display: inline-block;
  background-image: linear-gradient(180deg, rgba(167,215,249,0) 30%, #a7d7f9 200%);

}

button{
  border-left: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey; 
  padding: 3px 2px;
  margin-left: -4px;
  background-color: white;
}

input {
  width: 20rem;
  border-right: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;  
  font-size: 0.9rem;
  padding: 0.2rem;
}

.topleftbutton {
  float: left;
}

.topleftbutton::after{
  content: " ";
  clear: both;
  display: table;  
}

a:active{
  
  margin-bottom: none;
  background-color: white;
}

h1 {
  font-style: italic;
  font-size: 2.15rem;
  letter-spacing: -0.01rem;
  font-weight: 500;
  line-height: 2rem;
  font-family: times;
  padding: 10px;
  margin: 0 auto auto -0.5rem;
}

h1::after {
  content: "";
  display: block;
  height: 0.01rem;
  margin: 0.5rem 0;
  width: 100%;
  background-color: darkgray;
}

h3 {
  font-size: 0.8rem;
  margin: -11px 0 0.5rem 0;
  padding: 0;
}

.maincontent a {
  
  text-decoration: none;
}
table {
  text-align: left;
}

table a {
  font-size: 0.8rem;
}

.Contents {
  border: 1px solid black;
  display: inline-block;
  background-color: #f6f6f6;
}
